@font-face {
  font-family: "PFStardust";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
ul,
span,
h2 {
  margin: 0;
  padding: 0;
  background: rgb(250, 250, 250);
  font-family: "PFStardust";
}
