.button,
.next_button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #2a72b9;
  color: white;
  border: 1px solid #2a72b9;
  margin: 80px 0;
  cursor: pointer;
}
.next_button {
  background-color: #213555;
  color: white;
  border: 1px solid #213555;
}
.page_button {
  cursor: pointer;
  border: none;
  aspect-ratio: 1/1;
  width: 5%;
  border-radius: 50%; /* 원형으로 만듦 */
  color: aliceblue;
  background-color: steelblue; /* 임시로 배경색 추가 */
  display: flex; /* 내용 정렬을 위해 flexbox 추가 */
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container {
  width: 80%;
  padding: 100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 100, 0.142) 0px 0px 29px 0px;
}

.active_button {
  border: none;
  aspect-ratio: 1/1;
  width: 5%;
  border-radius: 50%; /* 원형으로 만듦 */
  color: aliceblue;
  background-color: #fdbe34; /* 임시로 배경색 추가 */
  display: flex; /* 내용 정렬을 위해 flexbox 추가 */
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button_wrapper {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
