.button {
  padding: 18px 30px;
  border-radius: 10px;
  background-color: #2a72b9;
  color: white;
  border: 1px solid #2a72b9;
  margin: 80px 0;
  cursor: pointer;
}
.container {
  width: 80%;
  padding: 100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 100, 0.142) 0px 0px 29px 0px;
}
